.footer {
    width: 100%;
    margin: auto;
    margin-top: 120px;
    background: #d7e2dd12;
    //height: 300px;
    align-items: center;
    display: flex;


    &__container {
        display: grid;
        padding: 60px 24px;
        grid-template-columns: 50% 25% 25%;
        justify-content: space-evenly;
        margin: auto;
        width: 80%;

        @media screen and (max-width: 768px){
            width: 90%;
            grid-template-columns: 100%;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        
        a {
            margin-bottom: 8px;
            font-size: 16px;
            text-decoration: none;
            color: whitesmoke !important;
            @media screen and (max-width: 768px){
               line-height: 32px;
            }

        }
        

        span {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            font-size: 16px;
            @media screen and (max-width: 768px){
                line-height: 32px;
             }

            
            svg {
                margin-right: 8px;
            }
        }
    }
    
}